@font-face { font-family: Niagara_solid; src: url("../fonts/FONT - Titre 2 - Niagara solid/NIAGSOL.TTF") format("truetype"); } 
@font-face { font-family: Capture_it; src: url("../fonts/FONT - Titre 1 - Capture it/CAPTURE IT.TTF") format("truetype"); }
@font-face { font-family: Inconsolata; src: url("../fonts/FONT\ -\ Corps\ -\ Inconsolata/INCONSOLATA-VARIABLEFONT_WDTH,WGHT.TTF") format("truetype"); }

* {
    margin: 0;
}

/* a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
} */

header,
footer  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 80px;
    margin: 0;
    background : #BD0120;
    /* background: linear-gradient(#BD0120 90%, #FAC800 10%); */
}

header {
    /* border-radius: 0 0 8px 8px; */
    /* margin: 0 0 10px 0; */
    /* position: fixed; */
    box-shadow: 0 6px 25px rgb(0, 0, 0, 0.5);
}


header img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

header nav a,
footer p {
    color: #FA9900;
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    /* font-family: Oxygen; */
    font-family: Manrope, sans-serif;
}

header nav a:hover,
.actuel {
    color: #FFCD03;
    /* text-decoration: underline; */
    opacity: 1;
    border-bottom: 2px solid #FFCD03;
    background-color: rgb(198, 1, 32, 0.8);
}

header nav ul {
    display: flex;
    list-style-type: none;
}

.logo_contact {
    /* border: yellow 2px solid; */
    height: 100%;
}

.logo_contact img {
    box-sizing: border-box;
    height: 100%;
    /* border: yellow 2px solid; */
}

.logo_mail {
    padding: 21px;
}

/* .sous {
    display: none;
} */

/* nav ul li:hover .sous {
    display: initial;
} */

header .logo2_alma {
    height: 80px;
    width: 200px;
}

main h1 {
    color: #FA9900;
    font-family: Capture_it;
    font-size: 5em;
    margin: 20px 0 20px 0;
}

main h2 {
    font-family: Niagara_solid;
    font-size: 2em;
    color: black;
    margin-bottom: 30px;
    font-weight: 300;
}

main p {
    font-family: Inconsolata, sans-serif;
}

.section {
    height: 600px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.texte_page_accueil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10% 0 10%;
    grid-gap: 50px;
    height: 100%;
}

.texte_page_accueil p {
    padding: 10px;
    margin: auto;
    text-align: justify;
}

.texte_page_accueil img {
    max-height: 80%;
    max-width: 100%;
    border-radius: 8px;
    margin: auto;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 0 6px 25px rgb(0, 0, 0, 0.5);
    background-color: white;
}

.main_accueil .s1 {
    /* justify-content: center; */
    padding: 30px 0 50px 0;
    height: 550px;
    /* background-image: url("../images/photos/photo_5.webp");
    background-size: cover;
    background-position: 0% 60%; */
}

.main_accueil .s1 h1 {
    margin: 0 0 20px 0;
}

.main_accueil .s1 img {
    height: 70%;
    width: auto;
}

/* .s2 p {
    border: brown 2px solid;
} */

.main_accueil .s4 .conteneur_logos_partenaires{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10vh 0 0 0; /* vh = percentage based on the height of the parent, else it's based on the width */
    grid-gap: 30px;
    justify-items: center;
}

.logo_partenaire {
    text-align: center;
    /* margin: auto; */
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.logo1_partenaire {
    background-image: url('../images/logos/Logo_4Ltrophy.png');
}

.logo2_partenaire {
    background-image: url('../images/logos/Logo-TotalEnergies.jpg');
    background-position: 50% 0;
}

.logo3_partenaire {
    background-image: url('../images/logos/AXA_Logo.png');
    background-position: 10px -20px;
}

.section_paire {
    background: #FA9900;
}

.section_paire h1 {
    color: #FFD21A;
}

.section_paire .cta {
    color: black;
    /* background: linear-gradient(#FFD21A, #C19B00); */
    background: #FFD21A;
}

/* .section_paire .cta:hover {
    background: linear-gradient(#FF611A, #C13C00);
} */

.cta {
    /* Call-to-action */
    /* background: linear-gradient(#FFA61A, #B97100); */
    background: #FFA61A;
    color: white;
    /* border-radius: 10px; */
    padding: 5px 0;
    text-decoration: none;
    font-family: Inconsolata, sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.cta:hover {
    /* background: linear-gradient(#FF611A, #C13C00); */
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.25);
  }

.photo_page_accueil {
    width: 96%;
    height: 100%;
    background-image: url(../Images/photos/photo_20.webp);
    background-size: cover;
    background-position: 0% 60%;
    /* background-position: center; */
    /* background-attachment: fixed; */
    border-radius: 20px;
}

.main_qsn .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 5% 0 5%;
    align-items: center;
    grid-gap: 5%;
    /* border: brown 2px solid; */
}
.main_qsn h2 {
    font-size: 3em;
    justify-self: center;
    align-self: end;
    /* border: brown 2px solid; */
    text-align: center;
}

.main_qsn p {
    justify-self: center;
    align-self: start;
    justify-content: center;
    /* border: brown 2px solid; */
}

.main_qsn img {
    justify-self: stretch;
    align-self: center;
    height: 70%;
    width: auto;
    /* border: brown 2px solid; */
}

.main_qsn .s1 img {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
}

.main_qsn .s2 img {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}

.main_le_projet img {
    /* justify-self: stretch;
    align-self: center;
    height: 70%;
    width: auto; */
    width: 90%;
    height: auto;
    box-shadow: 60px 60px 0px -30px #FA9900;
}

.main_le_projet .s1 {
    height: 1000px;
}

.texte_4l_trophy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 5% 0 5%;
    align-items: center;
    grid-gap: 5%;
}

/* hr {
    width: 50%;
    height: 3px;
    background-color: #FA9900;
} */

.main_nous_contacter .s1 {
    padding: 0 5% 0 5%;
}

.main_nous_contacter ul {
    margin: 50px 0 0 0;
}

.main_nous_contacter li {
    font-family: Inconsolata, sans-serif;
    list-style: none;
}
