@font-face { font-family: Niagara_solid; src: url("../fonts/FONT - Titre 2 - Niagara solid/NIAGSOL.TTF") format("truetype"); }
@font-face { font-family: Capture_it; src: url("../fonts/FONT - Titre 1 - Capture it/CAPTURE IT.TTF") format("truetype"); }
@font-face { font-family: Inconsolata; src: url("../fonts/FONT\ -\ Corps\ -\ Inconsolata/INCONSOLATA-VARIABLEFONT_WDTH,WGHT.TTF") format("truetype"); }

* {
    margin: 0;
}
*,*:before,*:after { margin: 0; padding: 0; box-sizing: border-box; }

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 50px;
    margin: 0;
    background : #BD0120;
    height: 20vh;
}

footer {
    height: 15vh;
}

header {
    box-shadow: 0 6px 25px rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all .3s ease;
    background-color: rgb(189, 1, 32, 0.8);
}

.header-scroll {
    height: 50px;
    /* background-color: transparent; */
    background-color: rgb(189, 1, 32, 0.8);
    box-shadow: 0 0 0;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

header nav a,
footer p {
    color: #FA9900;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    /* font-family: Manrope, sans-serif; */
    font-family: Inconsolata, sans-serif;
    font-weight: 500;
    /* border-left: 1px #FFCD03 solid;
    border-right: 1px #FFCD03 solid; */
}

.lien-menu-scroll {
    background-color: black;
    color: black;
    font-size: 1em;
}

header nav a:hover,
.actuel {
    color: #FFCD03;
    opacity: 1;
    border-bottom: 2px solid #FFCD03;
    background-color: rgb(198, 1, 32, 0.8);
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header .logo2_alma {
    height: 80px;
    width: 200px;
}

.logo-alma-scroll {
    display: None;
}

.logo_contact {
    height: 100%;
}

.logo_contact img {
    box-sizing: border-box;
    height: 100%;
}

.logo_mail {
    padding: 21px;
}

main h1 {
    color: #FA9900;
    font-family: Capture_it;
    font-size: 4em;
    margin: 20px 0 20px 0;
    font-weight: 100;
}

main h2 {
    font-family: Niagara_solid;
    font-size: 3em;
    color: black;
    margin-bottom: 30px;
    font-weight: 300;
}

main p {
    font-family: Inconsolata, sans-serif;
}

.section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.main_accueil .s1 {
    padding: 0px 0 10px 0;
    height: 100vh;
}

.main_accueil h1 {
    font-size: 4em;
}

.main_accueil .s1 h1 {
    margin: 0;
    font-size: 7em;
    color: #FFD21A;
}

.titre_page_accueil {
    width: 100%;
    height: 100vh;
    margin: 0px 0 20px 0;
    position: relative;
}

.titre_page_accueil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titre_page_accueil h1 {
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.4);
}

.main_accueil .s2 {
    padding: 0px 0 10px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main_accueil .s2 p {
    width: 60%;
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 1.1em;
}

/* Par rapport à s3 - s6 */
.texte_page_accueil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15% 0 15%;
    grid-gap: 10px;
    height: 70%;
    align-content: center;
}

.texte_page_accueil p {
    padding: 10px;
    text-align: justify;
    align-self: center;
}

.texte_page_accueil img {
    border-radius: 8px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 0 6px 25px rgb(0, 0, 0, 0.5);
    background-color: white;
    align-self: center;
    justify-self: center;
}

.qui_sommes_nous_accueil img {
    max-height: 80%;
    max-width: 60%;
}

.le_projet_accueil img,
.rejoignez_laventure_accueil img {
    max-height: 80%;
    max-width: 100%;
}

.main_accueil .s5 .conteneur_logos_partenaires{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10vh 0 0 0; /* vh = percentage based on the height of the parent, else it's based on the width */
    grid-gap: 30px;
    justify-items: center;
}

.logo_partenaire {
    text-align: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.logo1_partenaire {
    background-image: url('../images/logos/Logo_4Ltrophy.png');
}

.logo2_partenaire {
    background-image: url('../images/logos/Logo-TotalEnergies.jpg');
    background-position: 50% 0;
}

.logo3_partenaire {
    background-image: url('../images/logos/AXA_Logo.png');
    background-position: 10px -20px;
}

.main_accueil .section_impaire {
    background: #FA9900;
}

.main_accueil .section_impaire h1 {
    color: #FFD21A;
}

.main_accueil .section_impaire .cta {
    color: black;
    background: #FFD21A;
}

.cta {
    /* Call-to-action */
    background: #FFA61A;
    color: white;
    padding: 5px 0;
    text-decoration: none;
    font-family: Inconsolata, sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.cta:hover {
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.25);
  }

.main_qsn .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding: 0 10% 0 10%;
    height: 500px;
}

.main_qsn h1 {
    /* font-size: 3em; */
    text-align: center;
}

.main_qsn p {
    text-align: justify;
    box-shadow: 0 6px 25px rgb(0, 0, 0, 0.5);
    padding: 20px;
    background-color: white;
}

.main_qsn img {
    justify-self: stretch;
    align-self: center;
    height: auto;
    max-width: 70%;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 0 6px 25px rgb(0, 0, 0, 0.5);
    background-color: white;
}

.main_qsn .s1 {
    background: url(../images/photos/alma_4L/27122024-p1013698_54290727884_o.jpg);
    background-size: cover;
    background-position: 0 -200px;
    height: 80vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.main_qsn .s1 h1 {
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

.main_qsn .s3 img {
    /* margin-right: auto; */
    max-height: 50%;
    width: auto;
    justify-self: center;
}

.texte_qsn {
    align-self: center;
    width: 80%;
}

.main_qsn .s2 {
    background: linear-gradient(90deg, #B93A00, #FFD21A);
    grid-template-columns: 100%;
    height: 400px;
    align-content: start;
    padding-top: 30px;
}

.main_qsn .s2 h1 {
    padding-bottom: 20px;
}

/* .main_qsn .s2 img {
    margin-left: auto;
} */

.main_qsn .s3 {
    margin: 0;
    align-self: center;
    padding: 0;
    height: 1000px;
}

.main_qsn .s3 p {
    margin-bottom: 50px;
}

.main_qsn .s4 {
    background: linear-gradient(90deg, #B93A00, #FFD21A);
}

.main_le_projet section {
    height: 450px;
    padding-bottom: 30px;
    /* border: 2px black solid; */
}

.main_le_projet .s1 {
    background: url("../images/photos/photo_5.webp");
    background-size: cover;
    background-position: 0 -350px;
    height: 80vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.main_le_projet .s1 h1 {
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

.main_le_projet .s2 {
    padding: 30px 0 0 0;
    height: 900px;
}

.main_le_projet .s3 {
    padding: 30px 0 0 0;
    height: 1500px;
}

.main_le_projet .s4 {
    padding: 30px 0 0 0;
    height: 1200px;
}

.main_le_projet .sous-section {
    display: grid;
    /* grid-template-columns: 70% 30%; */
    padding: 0 15% 0 15%;
    align-content: center;
    /* border: 2px black solid; */
    margin: 20px 0 20px 0;
}

.main_le_projet .texte_droite {
    grid-template-columns: 40% 60%;
}

.main_le_projet .texte_gauche {
    grid-template-columns: 60% 40%;
}

.main_le_projet .texte_solo {
    grid-template-columns: 100%;
}

/* .main_le_projet .s2 .sous-section,
.main_le_projet .s4 .sous-section { */
    /* Dans les sections 2 et 3 */
    /* height: 80%;
    display: grid;
    grid-template-columns: 60% 40%; */
    /* border: 2px black solid; */
    /* align-items: center; */
/* } */

/* .main_le_projet .s3 .sous-section { */
    /* Dans les sections 2 et 3 */
    /* height: 100%;
    display: grid;
    grid-template-columns: 40% 60%; */
    /* border: 2px black solid; */
    /* align-items: center; */
/* } */

.main_le_projet .s2 img,
.main_le_projet .s3 img {
    width: 100%;
    height: auto;
    align-self: center;
    /* box-shadow: 0 0 10px 0px rgba(250,153, 0, 0.7); */
    /* margin: auto; */
    /* border-radius: 10px; */
}

.main_le_projet .s4 img,
.main_le_projet .s5 img {
    width: 100%;
    height: auto;
    /* box-shadow: 60px 60px 60px -30px #C13C00;
    margin: auto; */
}

.main_le_projet .s2 p,
.main_le_projet .s3 p {
    /* box-shadow: 0px 0px 25px rgba(193, 60, 0, 0.5); */
    padding: 20px;
    background: #FFD21A;
}

.main_le_projet .s4 p,
.main_le_projet .s5 p {
    /* box-shadow: 0px 0px 25px rgba(193, 60, 0, 0.5); */
    padding: 20px;
    background: #FFD21A;
}

.main_le_projet .s3 {
    /* padding: 30px 0 0 0; */
    background: #FA9900;
    /* height: 500px; */
}

.main_le_projet .s3 h1 {
    color: #FFD21A;
}

.main_le_projet .s5 {
    background: #FA9900;
}

.main_partenaires section {
    height: 450px;
    padding-bottom: 30px;
}

.main_partenaires .s1 {
    background: url(../images/photos/VML\ et\ ELA/p1014255_54290731268_o_1.jpg);
    background-size: cover;
    background-position: 0 -130px;
    height: 80vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.main_partenaires .s1 h1 {
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

.main_partenaires .s2 {
    padding-top: 30px;
    margin-top: 30px;
}

.main_contact {
    /* padding: 0 20% 0 20%; */
    background: linear-gradient(90deg, #B93A00, #FFD21A);;
}

.main_contact section {
    margin: 0 20% 0 20%;
    background-color: white;
    padding: 30px;
    height: 300px;
}

.main_contact h2 {
    font-size: 3em;
}

.main_contact a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.main_contact .s1 {
    background: url(../images/photos/alma_4L/27122024-p1013362_54290488236_o.jpg);
    background-size: cover;
    background-position: 0 -450px;
    height: 80vh;
    padding: 0;
    margin: 0 0 50px 0;
    position: relative;
}

.main_contact .s1 h1 {
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

.main_contact .s2 {
    padding-top: 70px;
    height: 200px;
}

.main_contact .s3 {
    padding-top: 70px;
    height: auto;
}

.main_contact .s3 p {
    padding-bottom: 50px;
}

.main_contact .s4 {
    padding-top: 10px;
    height: auto;
}

.main_contact .s5 {
    padding-top: 70px;
    padding-bottom: 70px;
    height: auto;
}

.main_contact .s5 p {
    padding-bottom: 30px;
}

.main_contact .s6 {
    height: 30px;
    background-color: transparent;
}

.main_contact ul {
    margin: 50px 0 0 0;
}

.main_contact li {
    font-family: Inconsolata, sans-serif;
    list-style: none;
}

.bouton_page_contact {
    background: #FFD21A;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-family: Inconsolata, sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.bouton_page_contact:hover {
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.25);
  }

.texte_contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    margin-top: 100px;
    /* margin: auto; */
}

.texte_contact img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    /* border: brown 2px solid; */
}

.texte_contact .logo_mail {
    padding: 28px;
}

.texte_contact a {
    font-family: Inconsolata, sans-serif;
    text-decoration: none;
    color: black;
}
